@using HoGentLend.Models.Domain
@model IEnumerable<HoGentLend.ViewModels.MateriaalViewModel>

<div id="catalog" class="row">
    @foreach (var item in Model)
    {

        <div id="item-@item.Id" class="col-md-4">
            <div class="catalog-item col-md-12">
                <div class="row">          
                        <!-- IMAGE -->
                        @if (item.PhotoBase64 != null)
                        {
                            <div class="catalog-img col-xs-4" style="background-image: url(data:image/png;base64,@item.PhotoBase64)">
                                <a href="data:image/png;base64,@item.PhotoBase64" data-lightbox="@item.Name"></a>
                            </div>
                        }
                        else
                        {
                            <div class="catalog-img col-xs-4"></div>
                        }

                    <div class="col-xs-8">
                        <h4>
                            @Html.ActionLink(item.Name, "Detail", new {id = item.Id})
                            
                        </h4>
                        
                        
                        <p>
                            @if (!string.IsNullOrEmpty(item.DescriptionShort))
                            {
                                @Html.DisplayFor(model => item.DescriptionShort)
                            }
                            else
                            {
                                @("Geen beschrijving")
                            }
                        </p>

                        <div class="clearfix">
                            @if (ViewBag.verlanglijst.Exists(item.Id))
                            {
                                <button id="@item.Id" class="voegtoe voegtoe-active">
                                    <div class="sterretje">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </div>
                                </button>
                            }
                            else
                            {
                                <button id="@item.Id" class="voegtoe" title="Toevoegen aan verlanglijstje">
                                    <div class="sterretje">
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    </div>
                                </button>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

