@model IEnumerable<HoGentLend.ViewModels.MateriaalViewModel>

<div id="catalog" class="row">
    @foreach (var item in Model)
    {

        <div id="item-@item.Id" class="col-md-4">
            <div class="catalog-item col-md-12">
                <div class="row">          
                        <!-- IMAGE -->
                        @if (item.PhotoBase64 != null)
                        {
                            <div class="catalog-img col-xs-4" style="background-image: url(data:image/png;base64,@item.PhotoBase64)">
                                <a href="data:image/png;base64,@item.PhotoBase64" data-lightbox="@item.Name"></a>
                            </div>
                        }
                        else
                        {
                            <div class="catalog-img col-xs-4"></div>
                        }

                    <div class="col-xs-8">
                        <h4>
                            @Html.ActionLink(item.Name, "Detail", new {id = item.Id})
                            
                        </h4>
                        
                        
                        <p>@item.DescriptionShort</p>

                                <div class="voegtoe">
                                @using (Html.BeginForm("Add", "Verlanglijst", FormMethod.Post, new { @class="voegtoeknop" }))
                                {
                                    <button type="submit" class="sterretje">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </button>
                                    <input type="hidden" name="id" value="@item.Id" />

                                }
                                    <span class="amount ">
                            <strong>@(item.Amount - item.AmountNotAvailable)</strong> beschikbaar
                                        </span>
                                    </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

