@model HoGentLend.ViewModels.MateriaalViewModel

@{
    ViewBag.Title = "Detail";
}


<div id="details" class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        @if (@Model.PhotoBase64 != null)
        {
            <img src="data:image/png;base64,@Model.PhotoBase64" alt="@Model.Name" class="col-md-12 col-sm-12 col-xs-12 img-reponsive img-thumbnail details-img"/>
        }
        else
        {
            <img src="~/Content/Images/default-placeholder.png" alt="Geen afbeelding beschikbaar" class="col-md-12 col-sm-12 col-xs-12 img-reponsive img-thumbnail details-img"/>
        }
    </div>

    <div class="col-md-9 col-sm-9 col-xs-12">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <hr />

        <p class="available">
            <span class="amount">@(Model.Amount - Model.AmountNotAvailable)</span> beschikbaar
        </p>

        @* Description *@
        <p>
            <strong>@Html.DisplayNameFor(model => model.Description)</strong>
        </p>
        <p class="description">
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                @Html.DisplayFor(model => model.Description)
            }
            else
            {
                @("Geen beschrijving")
            }
        </p>

        @* Location *@
        <p>
            <strong>@Html.DisplayNameFor(model => model.Location)</strong>
        </p>
        <p>
            @if (!string.IsNullOrEmpty(Model.Location))
            {
                @Html.DisplayFor(model => model.Location)
            }
            else
            {
                @("Geen locatie")
            }
        </p>

        @* Doelgroepen *@
        <p>
            <strong>@Html.DisplayNameFor(model => model.Doelgroepen)</strong>
        </p>
        <p>
            @if (Model.Doelgroepen != null)
            {
                foreach (string groep in Model.Doelgroepen)
                {
                    @groep
                    <br/>
                }
            }
            else
            {
                @("Geen doelgroepen")
            }
        </p>

        @* Leergebieden *@
        <p>
            <strong>@Html.DisplayNameFor(model => model.Leergebieden)</strong>
        </p>
        <p>
            @if (Model.Leergebieden != null)
            {
                foreach (string groep in Model.Leergebieden)
                {
                    @groep
                    <br />
                }
            }
            else
            {
                @("Geen leergebieden")
            }
        </p>

        <hr />

        

        @* Information for buying the item *@
        <div class="bg-info info-buying">
            <h3>@Model.Name aankopen</h3>
            <p>
                Onderstaande gegevens kan je gebruiken wanneer je een "@Model.Name" opnieuw moet aankopen omdat hij stuk is. Wil je graag één aankopen voor persoonlijk gebruik dan kan dit ook.
            </p>
            <p>
                @* Name Firma *@
                <strong>@Html.DisplayNameFor(model => model.FirmaName)</strong><br/>
                @if (!string.IsNullOrEmpty(Model.FirmaName))
                {
                    @Html.DisplayFor(model => model.FirmaName)
                }
                else
                {
                    @("Geen naam")
                }

                <br />

                @* Email Firma *@
                <strong>@Html.DisplayNameFor(model => model.FirmaEmail)</strong><br/>
                @if (!string.IsNullOrEmpty(Model.FirmaEmail))
                {
                    @Html.DisplayFor(model => model.FirmaEmail)
                }
                else
                {
                    @("Geen e-mailadres")
                }

                <br />

                @* Article code *@
                <strong>@Html.DisplayNameFor(model => model.ArticleCode)</strong><br />
                @if (!string.IsNullOrEmpty(Model.ArticleCode))
                {
                    @Html.DisplayFor(model => model.ArticleCode)
                }
                else
                {
                    @("Geen artikelcode")
                }

                <br/>

                @* Price *@
                <strong>@Html.DisplayNameFor(model => model.Price)</strong><br />
                @string.Format("{0:C}", Model.Price)
            </p>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
