@model HoGentLend.ViewModels.ReservatieViewModel

    @{
        ViewBag.Title = "Detail";
    }


    <div id="reservatiedetails" class="row">
        <div class="page-header">
            <h2>Reservatie @Html.DisplayFor(model => model.Ophaalmoment) tot @Html.DisplayFor(model => model.Indienmoment)</h2>
        </div>

        <div>
            Status:

            @if (Model.Opgehaald)
            {
                <span class="text-success">Opgehaald</span>
            }
            else
            {
                <span class="text-danger">Nog niet opgehaald</span>
            }

        <div id="reservationlist">


            @*@if (!Model.ReservatieLijnen.Any())
            {
                <p>Deze reservatie bevat geen materialen!</p>
            }
            else
            {*@

            @using (Html.BeginForm("Remove", "Reservatie", FormMethod.Post))
            {

                foreach (var item in Model.ReservatieLijnen)
                {

                    <div class="row reservation-item">
                        <div class="col-md-12">
                            <div class="col-md-2">

                                <!-- IMAGE -->
                                @if (item.Materiaal.PhotoBase64 != null)
                                {
                                    <div class="wishlist-img" style="background-image: url(data:image/png;base64,@item.Materiaal.PhotoBase64)">
                                        <a href="data:image/png;base64,@item.Materiaal.PhotoBase64" data-lightbox="@item.Materiaal.Name"></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="wishlist-img"></div>
                                }

                            </div>
                            <div class="col-md-2">
                                @Html.ActionLink(item.Materiaal.Name, "Detail", "Catalogus", new {id = item.Materiaal.Id}, null)
                            </div>
                            <div class="col-md-2">
                                <strong>Aantal</strong> <br/> @Html.DisplayFor(model => item.Amount)
                            </div>
                            <div class="col-md-2">
                                <strong>Ophaalmoment</strong> <br/> @Html.DisplayFor(model => item.OphaalMoment)
                            </div>
                            <div class="col-md-2">
                                <strong>Indienmoment</strong> <br/> @Html.DisplayFor(model => item.IndienMoment)
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-default">
                                    Verwijder uit deze reservatie
                                </button>

                            </div>
                            <input type="hidden" name="reservatieId" value="@item.Id"/>
                        </div>
                    </div>


                    <hr/>


                }


            }
        </div>
        <div>Gereserveerd op <span class="datum">@(Model.Reservatiemoment)</span></div>



    </div>
    <p>
        @Html.ActionLink("Terug naar reservatielijst", "Index", "Reservatie")
    </p>
