@model HoGentLend.ViewModels.ReservatieViewModel

@{
    ViewBag.Title = "Details Reservatie";
}


<div id="reservatiedetails">

    <h2>Reservatie @Html.DisplayFor(model => model.Ophaalmoment) tot @Html.DisplayFor(model => model.Indienmoment)</h2>

    <hr/>

    <div>
        <a href="@Url.Action("Index", "Reservatie")" class="btn btn-primary">&larr; Terug naar reservaties</a>
    </div>

    <hr/>
    <div class="row">
        <div class="col-xs-6"><p><strong>Status</strong></p></div>
        <div class="col-xs-6"><p><strong>Gereserveerd op</strong></p></div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @if (Model.Opgehaald)
            {
                <span class="status-success">Opgehaald</span>
            }
            else if (Model.Conflict)
            {
                <span class="status-danger">Conflict!</span>
            }
            else
            {
                <span class="status-warning">Nog niet opgehaald</span>
            }
        </div>
        <div class="col-xs-6">
            @Html.DisplayFor(model => model.Reservatiemoment)
        </div>
    </div>

    <hr/>

    <div id="reservationlist">

        <div class="list-header">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-2">Afbeelding</div>
                <div class="hidden-xs hidden-sm col-md-3">Materiaal</div>
                <div class="hidden-xs hidden-sm col-md-2">Aantal</div>
                <div class="hidden-xs hidden-sm col-md-2">Ophaalmoment</div>
                <div class="hidden-xs hidden-sm col-md-2">Indienmoment</div>
                <div class="hidden-xs hidden-sm col-md-1"></div>
                <div class="col-xs-12 hidden-md hidden-lg">Details reservatie</div>
            </div>
        </div>

        @foreach (var item in Model.ReservatieLijnen)
        {
            <div class="list-item">
                    <div class="row">
                        <div class="col-md-2">
                            <!-- IMAGE -->
                            @if (item.Materiaal.PhotoBase64 != null)
                            {
                                <div class="list-img" style="background-image: url(data:image/png;base64,@item.Materiaal.PhotoBase64)">
                                    <a href="data:image/png;base64,@item.Materiaal.PhotoBase64" data-lightbox="@item.Materiaal.Name"></a>
                                </div>
                            }
                            else
                            {
                                <div class="list-img"></div>
                            }

                        </div>

                        <div class="col-xs-12 hidden-md hidden-lg subtitle">Materiaal</div>
                        <div class="col-md-3 list-text">
                            @Html.ActionLink(item.Materiaal.Name, "Detail", "Catalogus", new {id = item.Materiaal.Id}, null)
                        </div>

                        <div class="col-xs-12 hidden-md hidden-lg subtitle">Aantal</div>
                        <div class="col-md-2 list-text">
                            @Html.DisplayFor(model => item.Amount)
                        </div>

                        <div class="col-xs-12 hidden-md hidden-lg subtitle">Ophaalmoment</div>
                        <div class="col-md-2 list-text">
                            @Html.DisplayFor(model => item.OphaalMoment)
                        </div>

                        <div class="col-xs-12 hidden-md hidden-lg subtitle">Indienmoment</div>
                        <div class="col-md-2 list-text">
                            @Html.DisplayFor(model => item.IndienMoment)
                        </div>

                    <div class="col-md-1 delete">
                        <br class="hidden-md hidden-lg " />
                        @using (Html.BeginForm("RemoveReservationLine", "Reservatie", FormMethod.Post, new { @class = "confirmation-delete", @data_name = item.Materiaal.Name }))
                        {
                            <input type="hidden" name="reservatieId" value="@Model.Id"/>
                            <input type="hidden" name="reservatieLineId" value="@item.Id"/>
                            <button class="btn btn-default" title="Verwijderen" @(item.Opgehaald ? "disabled" : "")>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        }

                    </div>
                    <input type="hidden" name="reservatieId" value="@Model.Id"/>
                    <input type="hidden" name="reservatieLineId" value="@item.Id"/>
                </div>

            @if (item.AantalSlechtsBeschikbaar != 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-2">
                            <span class="text-danger">
                                @if (item.AantalSlechtsBeschikbaar < 0)
                                {
                                    @:Conflict! Dit voorwerp is niet meer beschikbaar.
                                }
                                else
                                {
                                    @:Conflict! Je zal slechts @item.AantalSlechtsBeschikbaar items van dit materiaal meekrijgen.
                                }
                            </span>
                        </div>
                    </div>
                </div>
            }

            </div>
        }

        <div class="list-footer">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-2">Afbeelding</div>
                <div class="hidden-xs hidden-sm col-md-3">Materiaal</div>
                <div class="hidden-xs hidden-sm col-md-2">Aantal</div>
                <div class="hidden-xs hidden-sm col-md-2">Ophaalmoment</div>
                <div class="hidden-xs hidden-sm col-md-2">Indienmoment</div>
                <div class="hidden-xs hidden-sm col-md-1"></div>
                <div class="col-xs-12 hidden-md hidden-lg">Details reservatie</div>
            </div>
        </div>

    </div>
</div>

<!-- Modal box -->
<div id="confirmation-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bevestiging</h4>
            </div>
            <div class="modal-body">
                <p>
                    Je staat op het punt "<strong><span class="name"></span></strong>" uit je reservatie te verwijderen. Ben je zeker?
                </p>
            </div>
            <div class="modal-footer">
                <button id="confirm" type="button" class="btn btn-primary">Ja</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
            </div>
        </div>
    </div>
</div>
<!-- --- -->

@section scripts
{
    <script>
        // Confirmation Delete
        $('.confirmation-delete').on('submit', function (e) {
            e.preventDefault();

            var a = $(this);

            var confirmationDelete = $('#confirmation-delete');
            confirmationDelete.find('.name').html(a.attr('data-name'));
            confirmationDelete.modal('show');

            $('#confirm').click(function () {
                a.unbind('submit').submit();
            });
        });
    </script>
}
