
@model IEnumerable<HoGentLend.ViewModels.ReservatieViewModel>
@using System.Linq

@{
    ViewBag.Title = "Reservaties";
}

<h2>Reservaties</h2>

<p>Dit zijn al jouw reservaties. Je kan een reservatie annuleren indien je ze nog niet afgehaald hebt. Je kan ook de details van een reservatie bekijken door op details te klikken.</p>
<hr />

<div id="reservationlist">


    @if (!Model.Any())
    {
        <p>Je hebt nog niets gereserveerd!</p>
    }
    else
    {
        <div class="list-header">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-1">#</div>
                <div class="hidden-xs hidden-sm col-md-2">Ophaalmoment</div>
                <div class="hidden-xs hidden-sm col-md-2">Indienmoment</div>
                <div class="hidden-xs hidden-sm col-md-3">Materialen</div>
                <div class="hidden-xs hidden-sm col-md-2">Status</div>
                <div class="hidden-xs hidden-sm col-md-2"></div>
                <div class="col-xs-12 hidden-md hidden-lg">Reservaties</div>
            </div>
        </div>

        int i = 1;
        foreach (var item in Model)
        {
            <div class="list-item reservation-item">
                <div class="row">
                    <div class="col-xs-12 hidden-md hidden-lg subtitle">#</div>
                    <div class="col-md-1 text">
                        @i
                    </div>

                    <div class="col-xs-12 hidden-md hidden-lg subtitle">Ophaalmoment</div>
                    <div class="col-md-2 text">
                        @Html.DisplayFor(model => item.Ophaalmoment) @ViewBag.ophaalTijd
                    </div>

                    <div class="col-xs-12 hidden-md hidden-lg subtitle">Indienmoment</div>
                    <div class="col-md-2 text">
                        @Html.DisplayFor(model => item.Indienmoment) @ViewBag.indienTijd
                    </div>

                    <div class="col-xs-12 hidden-md hidden-lg subtitle">Materialen</div>
                    <div class="col-md-3 text">
                        @{ int j = 0;}
                        @foreach (var reservatielijn in item.ReservatieLijnen)
                        {
                            if (j > 0)
                            {
                                <text>, </text>
                            }
                            <span>@Html.ActionLink(reservatielijn.Materiaal.Name, "Detail", "Catalogus", new {id = reservatielijn.Materiaal.Id}, null) (@(reservatielijn.Amount))</span>


                            j++;
                        }
                    </div>

                    <div class="col-xs-12 hidden-md hidden-lg subtitle">Status</div>
                    <div class="col-md-2 status">
                        @if (item.Opgehaald)
                        {
                            <span class="status-success">Opgehaald</span>
                        }
                        else if (item.Conflict)
                        {
                            <span class="status-danger" title="Zie detailpagina">Conflict</span>
                        }
                        else
                        {
                            <div class="status-warning">Nog niet opgehaald</div>
                        }

                    </div>
                    <div class="col-md-2 delete">
                        <br class="hidden-md hidden-lg "/>
                        @Html.ActionLink("Details", "Detail", "Reservatie", new {id = item.Id}, new {@class = "btn btn-primary"})

                        @using (Html.BeginForm("Remove", "Reservatie", FormMethod.Post, new {@class = "confirmation-delete", @data_row_number = i}))
                        {
                            <input type="hidden" name="reservatieId" value="@item.Id"/>
                            <button class="btn btn-default" data-id="@item.Id" @(item.Opgehaald ? "disabled" : "") title="Annuleren">
                                <span class='glyphicon glyphicon-ban-circle'></span>
                            </button>
                        }

                    </div>
                    <input type="hidden" name="reservatieId" value="@item.Id"/>
                </div>
            </div>
            i++;

        }

        <div class="list-footer">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-1">#</div>
                <div class="hidden-xs hidden-sm col-md-2">Ophaalmoment</div>
                <div class="hidden-xs hidden-sm col-md-2">Indienmoment</div>
                <div class="hidden-xs hidden-sm col-md-3">Materialen</div>
                <div class="hidden-xs hidden-sm col-md-2">Status</div>
                <div class="hidden-xs hidden-sm col-md-2"></div>
                <div class="col-xs-12 hidden-md hidden-lg">Reservaties</div>
            </div>
        </div>
    }
</div>
    
<!-- Modal box -->
<div id="confirmation-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bevestiging</h4>
            </div>
            <div class="modal-body">
                <p>
                    Je staat op het punt de reservatie met rijnummer "<strong><span class="row-number"></span></strong>" te annuleren. Ben je zeker?
                </p>
            </div>
            <div class="modal-footer">
                <button id="confirm" type="button" class="btn btn-primary">Ja</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
            </div>
        </div>
    </div>
</div>
<!-- --- -->

@section scripts
{
    <script>
        // Confirmation Delete
        $('.confirmation-delete').on('submit', function (e) {
            e.preventDefault();

            var a = $(this);

            var confirmationDelete = $('#confirmation-delete');
            confirmationDelete.find('.row-number').html(a.attr('data-row-number'));
            confirmationDelete.modal('show');

            $('#confirm').click(function () {
                a.unbind('submit').submit();
            });
        });
    </script>
 }


