
@model IEnumerable<HoGentLend.ViewModels.MateriaalViewModel>
@using System.Linq

@{
    ViewBag.Title = "Index";
}

<div id="success" class="alert alert-success"></div>
<div id="error" class="alert alert-warning"></div>

<h2>Verlanglijstje</h2>


<hr />

<div id="wishlist">

    @Html.Partial("_PartialVerlanglijst")

</div>

<!-- Modal box -->
<div id="confirmation-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bevestiging</h4>
            </div>
            <div class="modal-body">
                <p>
                    Je staat op het punt "<strong><span class="name"></span></strong>" uit je verlanglijstje te verwijderen. Ben je zeker?
                </p>
            </div>
            <div class="modal-footer">
                <button id="confirm" type="button" class="btn btn-primary">Ja</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        // Confirmation Delete
        $('#wishlist').on('click', '.confirmation-delete', function(e) {
            var button = $(this);

            var confirmationDelete = $('#confirmation-delete');
            confirmationDelete.find('.name').html(button.attr('data-name'));
            confirmationDelete.modal('show');

            $('#confirm').unbind('click');

            $('#confirm').click(function() {
                var id = button.attr('data-id');

                $.post('/Verlanglijst/Remove', { id: id }, function (data) {
                    if (data.status === 'success') {
                        $.get('/Verlanglijst/Index', function(data) {
                            $('#wishlist').html(data);
                        });

                        var success = $("#success");
                        success.html(data.message);
                        success.slideDown();

                        setTimeout(function () {
                            success.slideUp();
                        }, 3500);

                    } else if (data.status === "error") {

                        var error = $("#error");
                        error.html(data.message);
                        error.slideDown();

                        setTimeout(function () {
                            error.slideUp();
                        }, 3500);
                    }

                    confirmationDelete.modal('hide');
                });
            });

            e.preventDefault();
        });

        // Date picker
        Date.prototype.addDays = function(days) {
            var dat = new Date(this.valueOf());
            dat.setDate(dat.getDate() + days);
            return dat;
        }
        window.addEventListener("load", function() {
            var ophaalDag = "@ViewBag.ophaalDag";
            ophaalDag = ophaalDag.toLowerCase();
            var dagToNr = {
                maandag: 1,
                dinsdag: 2,
                woensdag: 3,
                donderdag: 4,
                vrijdag: 5,
                zaterdag: 6,
                zondag: 0
            };
            var ophaaldagNr = dagToNr[ophaalDag];

            $('#date').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 1,
                language: "nl-BE",
                daysOfWeekDisabled: "0,1,2,3,4,5,6".replace("," + ophaaldagNr, ""),
                daysOfWeekHighlighted: String(ophaaldagNr),
                todayHighlight: true,
                startDate: "@ViewBag.vandaag"
            });
            $("#date").change(function() {
                var dt = $("#date").datepicker("getDate");
                if (dt == null) {
                    $("#indienDatum").text("-");
                    return;
                }
                var nrOfWeeks = @ViewBag.aantalWeken;
                dt = dt.addDays(nrOfWeeks * 7);
                dt.setDate(dt.getDate() + (dagToNr["@ViewBag.indienDag"] - dt.getDay()));
                var dd = dt.getDate();
                var mm = dt.getMonth() + 1;

                var yyyy = dt.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd
                }
                if (mm < 10) {
                    mm = '0' + mm
                }
                var indienDatumStr = dd + '/' + mm + '/' + yyyy;
                $("#indienDatum").text(indienDatumStr);
            });
        });
    </script>
}
